*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(
    90deg, 
    rgba(2,0,36,1) 0%, 
    rgba(9,9,121,1) 100%, 
    rgba(0,212,255,1) 100%
    );

    display: flex;
    justify-content: center;
}

.main-container{
    width: 600px;
    background-color: #fff;
    padding: 20px 30px;
    margin-top: 20px;
}

.main-container p{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 7px;
}

.search-container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.main-container input{
    height: 50px;
    border: 1px solid #2e2e2e;
    outline: 0;
    padding: 10px;
    border-radius: 7px;
}

.main-container button{
    font-size: 16px;
    font-weight: 500;
    height: 50px;
    background-color: #2e34d9;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 7px;
    cursor: pointer;
    padding: 7px;
}